
<input type="text" ng-model="mad.noun1" placeholder="Noun">
<input type="text" ng-model="mad.verb1" placeholder="Verb">
<input type="text" ng-model="mad.adjective1" placeholder="Adjective">
<input type="text" ng-model="mad.noun2" placeholder="Noun">
<input type="text" ng-model="mad.verb2" placeholder="Verb">
<input type="text" ng-model="mad.adjective2" placeholder="Adjective">
<input type="text" ng-model="mad.noun3" placeholder="Noun">

<button type="button" name="button" ng-click="addInput(mad)"> Submit</button>
